
<h2> Project status </h2>
<%=pie_chart({"NEW" => Project.where('status=?',"new").count,"on-going" => Project.where('status=?',"on-going").count,"completed" => Project.where('status=?',"completed").count }) %>

<h2> client projects </h2>

<% data={} %>

<% Client.all.each do |client| %>
	<% data["#{client.name}"] =client.projects.size %>

	<% end %>

	<%=column_chart(data) %>
