$('#category_count').text('<%= Category.count %>');
$('#categories').append('<li><%=@category.name %></li><%= link_to "edit",category_path(category),remote: true %><%= link_to "destroy",category_path(category),method: :delete,data: {
    	confirm: "Are you sure?"},remote: true %>');
$('#new_category').hide();
$('#new_category_link').show();
